*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background: #F3F1ED;
}

nav{
    background: white;
    height: 100px;
    width: 100%;
}
nav img{
    height: 90px;   
    float: left; 
}
nav ul{
    float: left;
    padding-left: 120px;
  
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 2px  20px;
    padding-right:80px;
  
}

nav ul .prim a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px ;
    border-radius: 3px;
    
}

.prim a:hover{
    padding: 15px 30px;
    background: #F3E1F2;
    transition: .5s;
}
.nav1 label{
    float: right;
    color: rgb(8, 3, 3);
    display: inline-block;
    line-height: 100px;
    padding-right: 50px;
}

#admin{
    color: grey;
    margin: 15px;
    border-radius: 25px;
    border: 1px solid grey;
    padding: 10px;
}

.nav2{
    background: #C6C6C6;
    height: 75px;
    width: 100%;
}

.nav2 ul{
    float:right;
}
.nav2 ul li{
    display: inline-block;
    line-height: 35px;
}

.nav2 ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; 
    
}

.active, a:hover{
    padding: 15px 30px;
    background:#D9D9D9;
    transition: .5s;
}

.ul2 i{
    font-size: 25px;
    margin: 15px;
}

/*buscar*/
.busybtn {
    display: flex;
    justify-content: left; 
    max-width: 1800px; 
    margin:10px 10px; 
}

.busybtn input {
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    padding: 12px; 
    width: 280px;
    box-sizing: border-box;
}

#botonbus {
    margin:-5px;
    background-color: #E2BAE0;
    color: white;
    border: 1px solid #E2BAE0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 9px; 
    box-sizing: border-box; 
}

#boton {
    background-color: #E2BAE0;
    padding: 12px; 
    width: 140px;
    margin: 25px 0 0 15px;
    color: white;
    border: 1px solid #E2BAE0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button i {
    margin: 4px;
}

.busybtn input:focus {
    outline: none;
    border-color: #E2BAE0;
}

#botonbus:hover {
    background-color: #8b45a0;
    border-color: #8b45a0;
}

#boton:hover {
    background-color: #8b45a0;
    border-color: #8b45a0;
}
/*contenido */
 
/*modal*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.purple-button {
    background-color: #8b45a0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.purple-button:hover {
    background-color: #70418c;
}

/*Bienvenido*/

.welcome-container {
    text-align: center;
}

.welcome-container h1{
    font-size:50px;
}
.welcome-message {
    margin-top:150px;
    background-color: #deb5ec;
    color: white;
    padding: 50px;
    border-radius: 8px;
}

/*Ordenar*/
.order-containerVend{
    margin: 15%;
    font-size: 20px;
    margin-top: 2%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-containerVend table {
    margin: 10%;
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(199, 147, 241);
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    
    background-color: #b36cca;
    color: rgb(102, 100, 100);
}

 .order-summary {
    margin-top: -5%;
    float: right;
}

.purple-button {
    background-color: #c083d4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.purple-button:hover {
    background-color: #522d5e;
}

/* Estilos para el popup */
.popupVend {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*historial*/

.history-container {
    margin: 15%;
    font-size: 20px;
    margin-top: 2%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history-container table {
    margin: 10%;
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

.history-container table, th, td {
    border: 1px solid #ddd;
}

.history-container th, td {
    padding: 10px;
    text-align: center;
}

.history-container th {
    background-color: #deb5ec;
    color: white;
}

.purple-button {
    background-color: #deb5ec;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.purple-button:hover {
    background-color: #deb5ec;
}

/*Login*/

.login-container {

    margin:8% 35%;
    width: 30%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagenLog{
    width: 28%;
    margin: 5%;
}

.usuLog{
    border: 1.5px solid rgb(207, 141, 245);
    border-radius: 50%;
    margin: 2.5%;
    padding: 3%;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    margin: 2%;
    background-color: #deb5ec;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #deb5ec;
}

/*perfiles*/
.navigation {
    overflow: hidden;
}

.navigation .user-dropdown {
    float: right;
    overflow: hidden;
}

.navigation .user-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(14, 6, 6);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    background: #e4e0e6;
}

.navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.navigation .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a:hover {
    background-color: #be8feb;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

/*Clientes*/

.Clientes {
    margin: 4% 24%;
    height:900px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Clientes h1{
    margin-left:60px;

}

.Clientes label {
    margin-left:60px;
    display: block;
    margin-bottom: 8px;
    font-size:22px;
}

.Clientes input,
.Clientes select {
    margin-left:60px;
    font-size: 19px;
    width: 90%;
    padding: 17px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.Clientes button {
    margin-left:60px;
    background-color: #e1a6f8;
    font-size: 19px;
    color: #fff;
    padding: 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Clientes button:hover {
    background-color: #733ca7;
}

/*Usuarios*/

.Usuarios {
    margin: 4% 24%;
    height:2000px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Usuarios h1{
    margin-left:60px;

}

.Usuarios label {
    margin-left:60px;
    display: block;
    margin-bottom: 8px;
    font-size:22px;
}

.Usuarios input {
    margin-left:60px;
    font-size: 19px;
    width: 90%;
    padding: 17px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.Usuarios button {
    margin-left:60px;
    background-color: #e1a6f8;
    font-size: 19px;
    color: #fff;
    padding: 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Usuarios button:hover {
    background-color: #733ca7;
}

.botonBack{
    float: right;
    margin-right: 90px;
}

#BtnAdd{
    float: right;
    font-size: 15px;
}

.Reporte{
    float: right;
    margin-left:50px;
    background-color: #e1a6f8;
    font-size: 19px;
    color: #fff;
    padding: 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cuadre-caja {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.info-cajero {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.history-container .acciones button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.history-container .acciones button:hover {
    background-color: #0056b3;
}
/*cuadre caja*/
.cuadro-cierre-caja {
    margin: 3% 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.detalles-cierre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

label {
font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    font-size: 20px;
    background-color: #c59edb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.resumen-pago {
    margin-top: 20px;
}

.resumen-pago table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 10px;
}

.resumen-pago th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.resumen-pago th {
    background-color: #bdbaba;
}


/*PAGOS*/

.Orden{
    text-align: left;
    font-size: 20px;
}
.contenedorVenta {
    padding: 50px;
    background: white;
    margin:2% 25%;
    width: 50%; 
    border-radius:1%;
}
.contenedorVenta .logo{
    margin-top: 5%;
 width: 35%;
 margin: 0 100%;
}


.datos-cliente input{
    margin: 5px 5px;
    width: 120%;
}
.datos-cliente label{
    margin: 5px 5px;
    width: 150%;
}
 

.contenedorVenta h2{
    width: 18%;
    margin-right: 95%;
}


.busqueda {
    width:60%; 
}

.datos-cliente {
    width: 80%; 
   
}

.forma-pago {
    display: flex;
    justify-content: space-between; 
}

.forma-pago div {
    flex: 1;  
    display: flex;
    align-items: center;  
}

.forma-pago input[type="radio"] {
    width: 20px;  
    height: 20px;
    margin-right: 5px;  
}

.popup {
    width: 15%; 
    position: fixed;
    height:20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.detalles-pedido{
    width: 90%;
    font-size: 18px;   
}

.detalles-pedido th{
    color: #130303;
    background-color: #e7e4e4;
}

.detalles-pedido{
    width: 80%;
    font-size: 18px;
}

/*BOTONES Admin*/

.Botones {
    display: flex;
    align-items: center; 
   
}

button {
    margin:  10px; 
}

#Inventario{
    height: 1300px;
}

.EditarProd{
    font-size: 22px;
}

/*sesion*/

.Sesion{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
}


.Ingresar button{
    margin: 15%;
}

.boton-deshabilitado {
    background-color: #d3d3d3; /* Color gris claro */
    cursor: not-allowed; /* Cambia el cursor a 'no permitido' */
}

.cake-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: space-between; /* Espacio entre los elementos */
    max-width: 85%;
    margin: 40px auto;
}

.cake-item {
    flex-basis: calc(33.33% - 20px); /* Ancho para tres elementos en una fila */
    text-align: center;
    padding: 20px;
    border: 2px solid #C6C6C6;
    margin-bottom: 20px; /* Espacio entre las filas */
}

.cake-item img {
    max-width: 100%;
    height: auto; /* Ajusta la altura proporcionalmente */
    margin-bottom: 10px;
}

.cake-item p {
    color: #807d7d;
}

.cake-item button {
    margin: 10px;
    background-color: #E2BAE0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
